
<% unless @user.nil? %>
  <div class="card post">
  <h1><%= @user[:first_name].capitalize %>'s Adventure Blog</h1>

<p>
  <a href="/create_post"><button type="button" class="btn btn-light">Create new post</button></a>
</p></div>

  <% if @posts == [] %>
  <div class="post">
  <h3 class="mx-auto">You don't have posts yet.</h3>
  </div>

  <% else %>
      <% @posts.each do |post|%>
  <div class="post"><br>
    <span>
      <h5><strong><%= post[:title] %></strong></h5>
      <p><%= post[:post] %></p>
      <p style="color:yellow;"><em>Created at: <%= post[:created_at] %></em></p>
    </span>
  </div>

      <% end %>
  <% end %>
  </div>


<!-- show this if not logged in.-->
<% else %>
<center>
<div class="hero">
<img src="./img/hero.png">
  <br><br>
  <h1><strong>Join us or log-in</strong></h1>
  <br>
    <a href="/signup">
      <button type="submit" name="signup" class="btn btn-outline-primary">
        Sign Up
      </button>
    </a>

    <a href="/login">
      <button type="submit" name="login" class="btn btn-outline-success">
        Log In
      </button>
    </a>
</div>
</center>
<% end %>