<center>
<div class="hero">

<img src="./img/hero.png">

  <br><br>
  <h1><strong>Join us or log-in</strong></h1>
  <br><br>
    <a href="/signup">
      <button type="submit" name="signup" class="btn btn-outline-primary">
        Sign Up
      </button>
    </a>

    <a href="/login">
      <button type="submit" name="login" class="btn btn-outline-success">
        Log In
      </button>
    </a>
</div>
</center>