<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>roamr</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab" rel="stylesheet">
</head>
<body>

<div class="row">
  <div class="col-12">
    <nav class="navbar">
    <a class="navbar-brand mx-l logo" href="/">
    <h1>Roamr.</h1></a>
      
      <div class="navbar nav-link">
      <!-- check if user is logged in -->
      <% if session[:user_id] %>
        <!-- if user is logged in, show logout button -->
        <a href="/logout"><button type="button" class="btn btn-secondary">Log-out</button></a>

      <% else %> 
        <!-- if the user is logged out, show sign up and login -->
        <a href="/signup"><button type="button" class="btn btn-primary">Sign Up</button></a>
        <a href="/login"><button type="button" class="btn btn-success">Log-In</button></a>
      <% end %>
      </div>
    </nav>
  </div>
</div>

<br>

<div class="container">

      <%= yield %>

</div> <!-- container div -->

<br>
<footer>
<center>
  <span class="row">
    <span class="col-12">
      <a href="https://www.facebook.com"><img src="/img/facebook.png"></a>
      <a href="https://www.instagram.com"><img src="/img/instagram.png"></a>
      <a href="https://www.twitter.com"><img src="/img/twitter.png"></a>
    </span>
  </span>
  <p></p>
  </center>
</footer>
</body>
</html>