<center>
<%# <div class="row"> %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title">Log-in</h2>
    <form action="/login" method="post">
<!-- 
  the action and the method indicate which route it will submit to
    post "/login" in app.rb
-->
    <div class="forms">
      <!-- will be stored in the variable params[:username] and [:password] in app.rb -->
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" class="btn btn-success" value="Log-In!">
    </div>
    </form>
<br>
    <!-- Link to the /signup -->
    <strong>
    <small class="form-text text-warning">
    <p>Don't have an account?</strong></p>
    <a href="/signup"><button type="button" class="btn btn-primary">Sign Up</button></a></strong>
  </div>
</div>
<%# </div> %>
</center>