<center>

<h1>You have been successfully logged out.</h1>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p>Would you like to sign back in?<p>

    <form action="/login" method="post">
    <div class="forms">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" class="btn btn-success" value="Log back in">
    </div>
    </form>
  </div>
</div>
</center>
