<h1 class="post"><%= @user[:username].capitalize %>'s Posts</h1>

<div class="post">
<% @posts.each do |post| %>
  <strong>Title: <%= post.title.capitalize %></strong><br>
 <p><%= post.post %></p><br>
<% end %>
</div>