* {
  padding: 0;
  margin: 0; }

body {
  background: url("./img/rumblr-bg1.jpg") no-repeat center center fixed;
  background-size: cover;
  color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
  }

.container {
  padding-top: 5rem;
}

.row {
  height: 4rem;
  margin: 0 auto;
}

div {
  position: relative;
}

.logo {
  font-family: 'Aleo', serif;
  color: antiquewhite;
} 

nav {
  background-color: rgba(4, 34, 7, 0.75);
  border-radius: 1.2rem;
  margin-top: 1rem;
}

.btn {
  margin: 0.3rem;
}

.forms {
  display: flex;
  flex-direction: column;
}

.card {
  color: whitesmoke;
  /* font-family: 'Montserrat', sans-serif; */
  border-radius: 1.5rem;
  background-color: rgba(4, 34, 7, 0.75);
  margin: 1rem;

}

.post {
  color: whitesmoke;
  /* font-family: 'Montserrat', sans-serif; */
  border-radius: 1.5rem;
  background-color: rgba(4, 34, 7);
  margin: 1rem;
  padding: 1rem;
}

body{
  animation: fadeIn 3s forwards; 
  color: whitesmoke;
}

.hero img{
  border-radius: 2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

footer img {
  height: 3.5rem;
}